body {
 background-image: url("img/body.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}

/*login css*/

.keroppi-img {
	width: 150px;
	height: 150px;
}

.keroppi-login {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 35px;
	color: darkgreen;
}

.btn {
	background-color: lightgreen;
	color: black;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.btn:hover {
	background-color: darkgreen;
	color: black;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

